/*
main colors: 

border-color:#f1f3f5;
background-color:#f8f9fa;
text-color: #212529

---------------- 
button colors 

background-color: #63e6be;
hover-color: #38d9a9;
contrast:#c3fae8;
color: #96f2d7

--------------------
Red Colors 

bg-color: #fff5f5
accent: #ffc9c9
secondary: #ff8787
primary: #f03e3e

------------------- 
Orange colors

bg-color: #ffe8cc
accent: #ffd8a8 
secondary: #ffa94d 
primary: #f76707

*/
