/*
main colors: 

border-color:#f1f3f5;
background-color:#f8f9fa;
text-color: #212529
h1: #868e96

---------------- 
button colors 

background-color: #63e6be;
hover-color: #38d9a9;
contrast:#c3fae8;
color: #96f2d7

--------------------
Red Colors 

bg-color: #fff5f5
accent: #ffc9c9
secondary: #ff8787
primary: #f03e3e

------------------- 
Orange colors

bg-color: #ffe8cc
accent: #ffd8a8 
secondary: #ffa94d 
primary: #f76707

*/
.app {
  max-width: 100%;
  margin: 2px auto;
  background-color: #f1f3f5;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  min-height: 500px;
}
.content {
  display: flex;
}
.hotel-view {
  background-color: #fff;

  flex: 1;
}
